
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  
  :root {
    --bg-dark: #212121;
    --bg-light: #ffffff;
  }
  
  .light {
    background: var(--bg-dark);
  }
  
  .dark {
    background: var(--bg-light);
  }
  
  .c-light {
    color: var(--bg-light);
  }
  
  .c-dark {
    color: var(--bg-dark);
  }
  
  .custom-arrow {
    background: aquamarine;
  }

  .checkbox input {
    appearance: none;
  }

  .checkbox {
    border: 1px solid firebrick;
  }

  .checkbox input:checked {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em seagreen;
  }